.containerLogin {
    background-color: #BAD7E9;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.left-side-login, .middle-login, .right-side-login {
    width: 100%;
    text-align: center;
}

.middle-login {
    background-color: #FFFFFF;
    height: 100vh;
    padding: 40px 80px;
}

.login-form-wrapper h4 {
    font-size: 30px;
}

.login-form-wrapper form {
    margin-top: 50px;
}

.login-form-wrapper form p {
    margin-top: 20px;
    font-size: 20px;
    font-weight: bold;
    text-align: left;
}

.input-login-wrapper {
    position: relative;
    margin-top: 10px;
}

.input-login-wrapper input {
    padding: 15px;
    background-color: rgba(217, 217, 217, 0.45);
    border-radius: 30px;
    border: none;
    padding: 20px 60px;
    width: 100%;
}

.btn-login {
    background-color: #434955;
    padding: 20px;
    border-radius: 20px;
    font-size: 25px;
    font-weight: bold;
    color: #FFFFFF;
    margin-top: 30px;
    width: 100%;
    cursor: pointer;
    border: none;
}

.redirect-register {
    margin-top: 20px;
    font-size: 20px;
    color: #000;
}

.redirect-register a {
    text-decoration: none;
    font-weight: bold;
    color: #000;
}

.gender-group {
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin-top: 10px;
}

.radio-register {
    display: flex;
    gap: 5px;
}

.error-message {
    text-align: left;
    margin-top: 2px;
    color: red;
    font-style: italic;
    font-size: 13px;
    font-weight: bold;
}