.card-wrapper {
    width: 100%;
    height: 240px;
    padding: 20px;
    background-color: #FFF;
    border-radius: 10px;
    box-shadow: 1px 1px 10px rgb(235, 235, 235);
    display: flex;
    gap: 20px;
}

.image-card-wrapper {
    width: 150px;
    height: 200px;
    border-radius: 10px;
}

.image-card-wrapper img {
    width: 150px;
    height: 200px;
    border-radius: 10px;
}

.detail-doctor {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.doctor-tags {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
}

.doctor-tags p {
    padding: 5px;
    border-radius: 5px;
    background-color: #BAD7E9;
    color: #FFF;
}

.button-chat {
    text-align: right;
}

.button-chat button {
    background-color: #6BA5C8;
    width: 100px;
    color: #FFF;
    border: none;
    padding: 15px;
    cursor: pointer;
    border-radius: 5px;
}