.message-wrapper-sender {
    background-color: #BAD7E9;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    margin-left: auto;
    display: flex;
    flex-direction: column;
    text-align: right;
    gap: 10px;
}

.message-wrapper-reciever {
    background-color: #FFF;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    text-align: left;
    gap: 10px;
}

.username-top {
    font-size: 15px;
    font-weight: bold;
}